*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary: #818384;
    --secondary: #3A3A3C;
    --dark: #121213;
    --light: #FFFFFF;
}

body{
    background-color: var(--dark);
}

.container{
    width: 85%;
    margin: auto;
    height: 85vh;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
}

.plates{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 45vh;
}

input{
    display: block;
    height: 100px;
    width: 250px;
    border: 3px solid var(--secondary);
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding: 10px;
}

.count{
    display: block;
    height: 60px;
    width: 250px;
    border: 3px solid #FFD74A;
    background-color: var(--dark);
    color: #FFD74A;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
}

.buttons{
    width: 250px;
    display: flex;
    justify-content: space-between;
    
}

.buttons button{
    width: 30%;
    color: var(--dark);
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    border: 3px solid var(--secondary);
    background-color: var(--dark);
    color: #FFD74A;
}

.divPlate{
    height: 100px;
    width: 20px;
    margin: 10px;
}
